*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.main{
  width:100%;
  min-height:100vh;
  background-color: #353b48;
  display: flex;
  justify-content: center;
  align-items: center;
}
.child{
  width:25%;
  min-height:60vh;
  background-color: #f5f6fa;
  text-align: center;
  border-radius: 20px;
  padding-bottom: 10px;
}
h2{
  background-color: #DB00FF;
  color:#fff;
}
input{
  width:70%;
  margin-top: 20px;
  padding-top:5px;
  padding-bottom: 5px;
  border:none;
  outline: none;
  border-bottom: 2px solid black;
  text-align: center;
  font-size: 15px;
  background-color: transparent;
}
.sbtn{
  width:30px;
  height:30px;
  border-radius: 50%;
  margin-left: 15px;
  background-color: #AC00CB;
  border:none;
  outline: none;
  color:#fff;
  font-weight: bold;
  font-size: 23px;
}
.sbtn:hover{
  background-color: #7CD700;
}
.delete-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid gray;
  padding:0px 10px;
  margin-bottom: 5px;
}
.delete-btn li{
  padding-bottom: 3px;
  padding-top: 0px;
}
.delete-btn .delete{
  padding-top: 3px;
}
ol{
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 30px;
  margin: 22px 10px;
  border-radius: 10px;
}
ol li{
  text-decoration: none;
  list-style: none;
  margin-left: 10px;
  font-size: 20px;
}
.main-btn button{
  padding:8px 15px;
  outline: none;
  border: 2px solid lightgreen;
  background: transparent;
  font-size: 20px;
  text-transform: capitalize;
}
.main-btn button:hover{
  background-color: lightgreen;
}
.dbtn{
  color:gray;
  border:none;
}
.dbtn:hover{
  color: lightcoral;
}

/* -------------media Query------------- */
@media screen and (max-width:768px){
  .child{
    width:75%;
    min-height:60vh;
  }
}
